.huruf_dashboar{
    font-family: 'Playfair Display SC', serif;
    color:#fafc95;
    font-size:200%;
    font-weight: bold;
}
.huruf_dashboar1{
    font-family: 'Playfair Display SC', serif;
    color:#a4c70b;
    font-size:150%;
    font-weight: bold;
}


.h_tabel_title{
  font-family: 'Oswald', sans-serif;
  color: gray;
  font-weight:normal !important;
  font-size:110%;
  font-weight: bold;
}

.h_isitable{
    font-family: 'Oswald', sans-serif;
    color: gray;
    font-weight:normal !important;
    font-size:100%;
}

.h_isitable1{
    /* font-family: 'Oswald', sans-serif; */
    color: gray;
    font-weight:normal !important;
    font-size:97%;
    font-family: 'Roboto', sans-serif;
}


/* huruf obj4 */
.h_isitable2{
    /* font-family: 'Oswald', sans-serif; */
    font-style: italic;
    color: gray;
    font-weight:normal !important;
    font-size:97%;
    font-family: 'Roboto', sans-serif;
    font-size: 95%;
}

/* huruf obj4_serapan modal */
.h_isitable3{
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    color: gray;
    font-weight:normal !important;
    font-size:95%;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 95%;
}
.h_isitable4{
    font-family: 'Oswald', sans-serif;
    color: gray;
    font-weight:normal !important;
    font-size:90%;
}

.kepala_table_f{
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-weight:normal !important;
    font-size:11px;
}
.kepala_table_f1{
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-weight:normal !important;
    font-size:12px;
}

/* HURUF CETAK */
.h_cetak1{
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: gray;
    font-weight:normal !important;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
}
.h_cetak2{
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: gray;
    font-weight:normal !important;
    font-size: 11pt;
}
.h_cetak3{
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: gray;
    font-weight:normal !important;
    font-size: 11pt;
}
.h_cetak4{
    /* font-family: 'Oswald', sans-serif; */
    color: gray;
    font-weight:normal !important;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

/* HURUF CETAK */
.h_cetak11{
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
    color: gray;
    font-weight:normal !important;
    font-size: 9pt;
    text-transform: uppercase;
}
.h_cetak22{
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: gray;
    font-weight:normal !important;
    font-size: 9pt;
}
.h_cetak33{
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: gray;
    font-weight:normal !important;
    font-size: 9pt;
}
.h_cetak44{
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    color: gray;
    font-weight:normal !important;
    font-size: 8pt;
}

.h_cetakhead{
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    color: gray;
    font-weight:normal !important;
    font-size: 10pt;
    text-transform: uppercase;
}


.h_page{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: 'Dancing Script', cursive;
    font-size: 170%;
}

.h_brand{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: 'Monoton', cursive;
    font-size: 175%;

}

.huruf_objek{
    vertical-align: middle;
    font-size: 95%;
}

.home_title{
    font-weight: bold;
}


.home_subtitle{
    /* font-weight: bold; */
    font-family: "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    font-size: 96%;
}

.huruf_tgl{
    /* font-weight: bold; */
    font-family: "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    font-size: 96%;
    color: #0183da;
}
.komentar_hapus{
    /* font-weight: bold; */
    /* font-family: "Arial Narrow", Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-style: italic; */
    font-size: 98%;
    color: #ce1818;
    font-weight: bold;
}

.detil_aset{
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
    /* color: gray; */
    font-weight:bold !important;
    font-size: 10pt;
    text-transform: uppercase;
}

.detil_aset1{
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: "Arial Narrow", Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 9pt;
    /* text-transform: uppercase; */
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(188, 196, 83);
    opacity: 1; /* Firefox */
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 95%;
}


.h_badan1{
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}
.h_badan2{
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  padding-left: 2%
}

.h_kop_1{
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}
.h_kop_2{
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}
.h_kop_3{
  font-family: 'Roboto', sans-serif;
  font-size: 8pt;
}
.h_cetak_1{
  font-family: 'Roboto', sans-serif;
  font-size: 8pt;
  font-style: italic;
  font-weight: bold;
}
.h_cetak_2{
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}
.h_cetak_3{
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}

.indent1{
  display:inline-block;
  margin-left: 1em;
}

.indent2{
  display:inline-block;
  margin-left: 2em;
}

.indent3{
  display:inline-block;
  margin-left: 3em;
}

.chartku {
  width: 100%;
  min-height: 450px;
}
